
.card-container {
    display: flex;
    justify-content: space-around;
    padding: 10px 120px;
    background: linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(146,108,21,1) 100%);
}

.card {
  position: initial !important;
  padding: 4px;
  flex-direction: column;
  background: #111;
  margin: 16px;
  color: #fff;
}

.card:hover {
  cursor: pointer;
}

.container {
  padding: 10px;
  font-weight: 700;
  transition: 2s;
}

.container:hover {
  background: rgba(255, 255, 255, 0.6);
  color: rgba(118, 82, 14, 0.8);
}

.img {
  width: 200px;
  height: 200px;
}

.img1 {
  width: 200px;
  height: 200px;
}

.para {
  font-weight: 600;
  margin: 4px;
  font-style: italic;
}

.para1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.h4 {
  font-weight: 600;
  margin: 4px;
}

.h3 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin: 24px 0;
}

/* Media Queries */
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .card {
    width: 300px;
  }

  .card-container {
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
   
}

@media screen and (max-width: 560px) {
  /* For a screen < 540px, this CSS will be read */

  .card {
    width: 500px;
  }

  .card-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
}




  

