
.card-container {
    display: flex;
}

.card {
  position: initial !important;
  padding: 6px;
  flex-direction: column;
  background: rgba(118, 82, 14, 0.8);
  margin: 16px;
  color: #fff;
}

.card:hover {
  cursor: pointer;
}

.container {
  padding: 10px;
  font-weight: 700;
  transition: 2s;
}

.container:hover {
  background: rgba(255, 255, 255, 0.6);
  color: rgba(118, 82, 14, 0.8);
}

.img {
  width: 150px;
  height: 200px;
}
.img1 {
  width: 100px;
  height: 200px;
}

.para {
  font-weight: 600;
  margin: 4px;
  font-style: italic;
}

.para1 {
  font-family: 'Alegreya Sans', sans-serif;
}

.h4{
  font-weight: 600;
  margin: 4px;
}

.h3 {
  text-align: center;
  color: #fff;
  font-weight: 900;
  margin: 16px;
}




  

