@media screen and (max-width: 540px) {

    .h1{
     font-size: 50px;
     width: 350px;
    }

    .p{
     font-size: 8px;
    }

    .head-btn {
      font-size: 1rem !important;
      padding: 10px 22px !important;
    }
  } 