.header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
  url(https://images.pexels.com/photos/2983401/pexels-photo-2983401.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  height: 50vh;
  background-position: center center;
  background-size: cover;
}

.about-h2 {
    font-size: 40px;
    position: absolute;
    color: #fff;
    top: 220px;
    left: 150px;
}

.card-product1 {
  overflow: hidden;
  height: 30vh;
  padding: 16px;
  background: silver;
  display: flex;
  /* align-content: center; */
  margin: 25px 200px;
}

.card-product1:hover {
  box-shadow: 2px 4px 5px rgba(255, 255, 255, 0.4);

}

.card-product1 img {
  height: 100%;
  width: 20%;
  object-fit: cover;
}

.card-product1 h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product1 p {
  font-size: 1rem;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product1 .card-product1-infos {
  width: 70%;
  padding: 10px 25px;
}

.btn-abt {
  outline: none;
  background-color: #926c15;
  padding: 12px;
  color: #fff;
  border: none;
  margin: 4px;
  border-radius: 10px;
}

.btn-abt:hover {
  background-color: #76520e;
}

@media screen and (max-width: 960px) {
    .card-product1 {
      height: 400px;

    }
}

@media screen and (max-width: 720px) {
    .card-product1 {
      height: 400px;

    }
}

@media screen and (max-width: 540px) {
    .card-product1 {
        display: flex;
        flex-direction: column;
        height: 700px;
        padding: 10px;
    }
}