.footer-content {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 24px;
    padding: 24px;
    background: #a47e1b; 
}

.footer-bg {
    text-align: center;
}

h4 {
    color: #76520e;
    font-weight: 800;
}