.footer-content {
    font-size: 16px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 24px;
    padding: 24px;
    border-top-left-radius:30px;

}

.footer-bg {
    text-align: center;
    letter-spacing: 1px;
}

.head4 {
    font-weight: 800;
    letter-spacing: 1px;
}

p {
    letter-spacing: 1px;
}